
body,html{
    height:100%;
}
.container{
    height: 100%;
    z-index: 0;
    position: relative;
}
.white{
    background-color: black;
    z-index: 1;
    position: relative;
}
.box{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    height:300px;
    z-index: 2;
    position: relative;
  }